samples
test/resources/**
index.d.ts
wasm
integration-test/requires/error-typescript-append.js
integration-test/requires/error-typescript-append.ts
integration-test/requires/error-typescript-simple.js
integration-test/requires/error-typescript-simple.ts
